
*{
	margin:0;
	padding: 0;
	font-family: 'Fresca', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	background-color: #8ED2C9;
}
.navbar-inverse{
	background-color: #045757;
}
.navbar-brand {
	color: #fff;
}
.navbar-brand h2 {
	color: whitesmoke;
	margin: 0;
}
.search-box {
    margin: 25px 0 0px;
    float: right;
}
.search-box .icon {
    margin: 0 2% 0 0;
    font-size: 16px;
    color: #777;
}
#search {
    width: 85%;
    padding: 2px 5px;
}
#lado{
	width: 300px;

}
.search-box input {
	border-radius: 5px;
	border: none;
}
.navbar-header {
    min-height: 55px;
}
.caja-navegacion{
	border:3px solid #044343;
	height: 60vh;
	background-color: #00AAA0;
}
.caja-navegacion ul li a{
	color: whitesmoke;
	font-size: 2rem;
}
.first-section .caja-imagen{
	background-image: url(../img/Portada/onepunch-man-1280x640.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border:3px solid #044343;
	height: 60vh;
	margin-left: 30px;
	width: 72%;
}

.first-section .caja-imagen-movil{
	background-image: url(../img/Portada/onepunch-man-1280x640.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border:3px solid #044343;
	height: 40vh;
	width: 100%;
}
.first-section .caja-sign{
	background-color: rgba(213, 91, 62, .5);
	width: 43,9999999%;
	height: 40vh;
	margin-top: 10vh;
	margin-bottom: 10vh;
	color: #E4E4E4;
}
.first-section .caja-sign h1{
	color: #D55B3E;
}
.first-section .caja-sign p{
	color: #E4E4E4;
	font-size: 20px;
}
.first-section .caja-sign .boton-registro button,
.first-section .caja-sign .boton-inicio button{
	background-color: #E4E4E4;
	border: 2px solid #D55B3E;
	border-radius: 4px;
	color: #D55B3E;
	margin-top: 10px;
}
.first-section .caja-sign .little-text{
	color: #E4E4E4;
	width: 30%;
	margin-top: 10px;
}
.first-section .caja-sign-movil{
	background-color: rgba(213, 91, 62, .5);
	width: 77%;
	height: 30vh;
	margin-top: 7vh;
	margin-bottom: 5vh;
	color: #E4E4E4;
}
.first-section .caja-sign-movil h1{
	color: #D55B3E;
	font-size: 2,5rem;
}
.first-section .caja-sign-movil p{
	color: #E4E4E4;
	font-size: 1,75rem;
	text-align: justify;
}
.first-section .caja-sign-movil .boton-registro-movil button,
.first-section .caja-sign-movil .boton-inicio-movil button{
	background-color: #E4E4E4;
	border: 2px solid #D55B3E;
	border-radius: 4px;
	color: #D55B3E;
	font-size: 1,5rem;
	margin-top: 15px;
}

.second-section .texto-novedades,
.second-section .texto-populares{
	border: 3px solid black;
	height: 6vh;
	margin-top: 30px;
	background-color: #00AAA0;
}
.second-section .texto-novedades a,
.second-section .texto-populares a{
	color: whitesmoke;
	font-size: 24px;
	margin-left: 40px;
	margin-top: 10px;
}
.second-section .imagenes-novedades a img,
.second-section .imagenes-populares a img{
	margin-top: 30px;
	width: 30vh;
	height: 40vh;
	border: 3px solid #044343;
}
.second-section .imagenes-populares a img{
	margin-bottom: 30px;
}
.second-section .texto-novedades-movil,
.second-section .texto-populares-movil{
	border: 3px solid #044343;
	height: 5vh;
	margin-top: 10px;
}
.second-section .texto-novedades-movil a,
.second-section .texto-populares-movil a{
	color: #D55B3E;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 10px;
}
.second-section .imagenes-novedades-movil .imagen,
.second-section .imagenes-populares-movil .imagen{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
	max-height: 130px;
	overflow: hidden;
	display: inline-block;
}
.second-section .imagenes-populares-movil .imagen .naruto{
	height: 130px;
}
footer{
	padding-top: 15px;
	padding-bottom: 30px;
	border: 3px solid #044343;
	background-color: #045757;
}
footer h3, footer h5{
	color: grey;
}
footer .caja-final .caja-contacto a,
footer .links-contacto li a{
	color: whitesmoke;
}
footer .caja-logos a i{
	color: whitesmoke;
	font-size: 2rem;
}
footer .footer-movil .contacto-movil h3,
footer .footer-movil .contacto-movil h5{
	color: grey;
}
footer .footer-movil .contacto-movil ul li a,
footer .footer-movil .logos-movil a{
	color: whitesmoke;
}
.seccion-catalogo .texto-catalogo{
	border: 3px solid black;
	height: 6vh;
	background-color: #00AAA0;

}
.seccion-catalogo .texto-catalogo a{
	color: whitesmoke;
	font-size: 24px;
	margin-left: 40px;
	margin-top: 10px;
}
.seccion-catalogo .imagenes-catalogo .imagen{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
	overflow: hidden;
	display: inline-block;
}
.seccion-catalogo .imagenes-catalogo .imagen img {
    width: 90%;
    height: 322px;
}

/*garras*/
#lado{
	width: 300px;
    height: 30px;
}
.btn-group{
	margin-left: 44px;
}
